* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
.page-viewport{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-content{
    width: 90%;
    display: grid;
    grid-template: "page-header" 125px
                    "box-img-principal";
}
.page-header{
grid-area: page-header;
}
header {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-header {
    margin-top: 50px;
    width: 100%;
    height: 140px;
    display: grid;
    grid-template: "main-logo main-menu" 110px /
                    180px     1fr;
    

}
.main-logo {
    grid-area: main-logo;
    margin-right: 30px;

}
.logo-principal{
width: 60%;
}

.main-menu {
    grid-area: main-menu;
    width: 100%;
    height: 110px;

    list-style: none;
}
.txt-menu{
display: flex;
align-items: center;
justify-content: right;
color: rgb(27, 27, 30);
font-size: 1.6em;
font-family: Arial, Helvetica, sans-serif;
}
.items-menu{
    padding: 20px 25px ;
}

.box-img-principal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-principal {
    margin-top: 20px;
    width: 100%;
    background-color: rgb(60, 137, 0);
}
.img-primaria {
    width: 100%;

}
.articulos{
    margin-top: 20px;
    display: grid;
    grid-template: "article-1 article-2 article-3" /
                    1fr       1fr       1fr    
}
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagen{
    width: 350px;
    height: 250px;
    background-color: rgb(255, 145, 0);
    margin: 15px 0;
}
.titulo-img{
    width: 350px;
    height: 80px;
    background-color: rgb(149, 19, 255);
    margin: 15px 0;
}
.texto-img{
    width: 350px;
    height: 300px;
    background-color: green;
    margin: 15px 0;
}




.txt-span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.6em;
    font-family: Helvetica, sans-serif;
}

@media only screen and (max-width: 1300px) {
    .main-menu {
        display: none;
    }
    .articulos{
        display: grid;
        grid-template: "article-1 article-2" /
                        1fr       1fr
    }

}

@media only screen and (max-width: 800px) {
    .articulos{
        display: grid;
        grid-template: "article-1" /
                        1fr
    }

}