.page-content{
    
    display: grid;
    width: 80%;
    grid-template: "texto-articulo"
                   "header"
                   "img-principal"
                   "titulo-articulo"
                   "img-articulo"
}

.header{
    grid-area: header;
    background-color: #09A603;
    height: 80px;


}
.img-principal{
    grid-area: img-principal;
    background-color: #545659;
    height: 300px;


}

.img-articulo{
    grid-area: img-articulo;
    background-color: #F29F05;
    height: 100px;

}

.titulo-articulo{
    grid-area: titulo-articulo;

    background-color: rgb(200, 200, 200);
    height: 250px;

}

.texto-articulo{
    grid-area: texto-articulo;
    background-color: goldenrod;
    height: 180px;
}